@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.search-click {
  border: 1px solid #ccc;
  outline: none;
  background-size: 22px;
  background-position: 13px;
  border-radius: 10px;
  width: 20px;
  height: 50px;
  padding: 25px;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
  height: 20px;
}
.search-click:focus {
  width: 150px;
}
.search-click input {
  background: transparent;
  border: 1px solid #ccc;
  outline: none;
  position: absolute;
  width: 300px;
  height: 50px;
  left: 0%;
  padding: 10px;
}
.imgone {
  background: url("img1.jpg") no-repeat 0 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.first-page {
  display: flex;
  flex-direction: column;
  background-color: black;
  opacity: 79%;
  overflow-y: scroll;
  align-items: center;
  color: white;
  height: 100vh;
}
.first-page h1 {
  text-align: center;
  margin-top: 4vh;
}
.sign-up {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin: auto;
  height: 75vh;
  justify-content: space-between;
  margin-top: 6vh;
}
.sign-up-input {
  border-radius: 10px;
  height: 2rem;
  border: 0.1px solid black;
  width: 30%;
  margin-left: 35vw;
}
.sign-up-btn {
  background-color: #ff6000;
  border-radius: 10px;
  cursor: pointer;
  height: 2rem;
  border: none;
  width: 30%;
  margin-left: 35vw;
}
.sign-up-btn:hover {
  background-color: #c70039;
  transition: 0.6s;
}
.img {
  background: url("img.jpg") no-repeat 0 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.content {
  background-color: black;
  opacity: 79%;
  overflow-y: scroll;
}
.navbar {
  color: white;
  height: 6.5vh;
  text-align: center;
  background-color: black;
}
.edit-btn {
  margin: 0px 4px;
  padding: 5px;
  cursor: pointer;
}
.each {
  display: flex;
  justify-content: space-between;
}
.editcontent {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
}
.edititems {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 5vh;
}
.editdescription {
  display: flex;
  justify-content: space-between;
  margin-top: 1vh;
}
.delete-btn {
  margin: 0px 4px;
  padding: 5px;
  cursor: pointer;
}
.heading {
  padding-top: 1.2vh;
  font-size: 1.5rem;
}
.add-task {
  height: 47.5vh;
  text-align: center;
  color: white;
}
.searchbtn {
  background-color: #ff6000;
  cursor: pointer;
  border: transparent;
}
.clearbtn {
  background-color: #ff6000;
  cursor: pointer;
  border: transparent;
}
.addtask {
  margin: auto;
  font-size: 1.3rem;
  margin-top: 5vh;
}
.clearbtn:hover {
  background-color: #c70039;
  transition: 0.6s;
}
.searchbtn:hover {
  background-color: #c70039;
  transition: 0.6s;
}
.addtask-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  margin-top: 3vh;
}
.modal-content {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-button {
  margin-top: 90vh;
}
.div-two {
  margin: auto;
}
.div-two {
  margin: auto;
}
.div-two input {
  border-radius: 1rem;
  width: 34rem;
}
.div-three textarea {
  margin: auto;
  border-radius: 1rem;
  padding-left: 1rem;
  width: 37%;
  margin: auto;
}
.div-four select {
  margin: auto;
  border-radius: 1rem;
  width: 35rem;
}
.div-four {
  margin: auto;
}
.div-five {
  margin: auto;
}
.div-six {
  margin: auto;
}
.add-btn {
    background-color: #ff6000;
    cursor: pointer;
  width: 15rem;
  border: none;
  border-radius: 50px;
  height: 5vh;
  width: 39vw;
}
.add-btn:hover {
  cursor: pointer;
  background-color: #c70039;
  transition: 0.6s;
}
.title {
  display: flex;
  border: 1px solid black;
  border-radius: 50px;
  width: 38%;
  margin: auto;
  height: 3vh;
}
.list {
  margin-bottom: 8rem;
  margin-top: 5vh;
  height: 47.5vh;
  width: 100%;
  text-align: center;
}
.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.listheader {
  display: flex;
  padding-top: 2ch;
}
.listheading-one {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  color: white;
}
.listheading-two {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3vh;
}
.select {
  border-radius: 1rem;
}
.search-btn {
  background-color: #f6f4eb;
}
.search-btn:hover {
  cursor: pointer;
  background-color: #beadfa;
  transition: 0.6s;
}
.completed-row {
  text-decoration: line-through;
}
.td select {
  border-radius: 1rem;
  width: 3.1rem;
}
.td button {
  border-radius: 1rem;
  width: 3.1rem;
}
.td button:hover {
  background-color: #beadfa;
  cursor: pointer;
  transition: 0.7s;
}
.table {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 1vh;
  margin-top: 3vh;
}
.task-table {
  list-style: none;
  border: 1px solid white;
  padding: 8px;
  cursor: pointer;
}
.task-cell {
  border: 1px solid white;
  padding: 8px;
  cursor: pointer;
  background-color: #454545;
}
.container {
  border: 1px solid black;
  padding: 8px;
  cursor: pointer;
}
.search-bar-container {
  display: none;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.thead tr {
  border: 1px solid white;
}
.task-row td {
  border: 1px solid white;
  padding: 8px;
  cursor: pointer;
}
.modal {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  color: white;
}
.modal-show {
  display: flex;
}
.topline {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.modal-input {
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px 5px;
}
.close-modal {
  background-color: transparent;
  border: 0px;
}
.editsavebtn {
  margin-top: 10vh;
}
.save-btn {
  margin-top: 5vh;
  width: 60%;
  border-radius: 17px;
  padding: 5px;
}
.btn {
    border-radius: 17px;
    margin: 0px 4px;
    padding: 5px;
  }

@media only screen and (max-width: 667px) {
  .sign-up-input {
    width: 80%;
    margin-left: 10vw;
  }
  .sign-up-btn {
    width: 80%;
    margin-left: 10vw;
  }
  .listheader {
    display: flex;
  }
  .task-row td {
    padding: 6px;
    font-size: 0.5rem;
  }
  .edit-btn {
    border-radius: 1px;
    margin: 0px;
    padding: 0px;
  }
  .listheading-one {
    width: 100%;
    text-align: center;
  }
  .select {
    height: 3vh;
  }
  .td {
    height: 1vh;
  }
  .table {
    font-size: 1vw;
  }
  .tbody {
    height: 1vh;
    font-size: 3vw;
  }
  .title {
    padding-left: 0;
  }
  .task-cell {
    padding: 6px;
    font-size: 2.5vw;
  }
  .del {
    font-size: 2.5vw;
  }
  .div-two input {
    width: 22vh;
  }
  .div-four select {
    width: 22vh;
  }
}


